.form{
	position:relative;
	width:500px;
	height:700px;
	padding-left:20px;
	padding-top:15px;
	background-color:#1216F1;
	border-radius:20px;
	margin:auto;
}

input[type=text]{
	width:470px;
	height: 35px;
	font:  14px normal normal uppercase helvetica, arial, serif;
}

textarea{
	width: 470px;
	height: 85px;
	font:  14px normal normal uppercase helvetica, arial, serif;
}

input[type=submit]{
	position:relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color:#32A43E;
	font:  14px normal normal uppercase helvetica, arial, serif;
}

p{
	position:center;
	text-shadow:0 1px 0 #fff;
	font-size: 24px;
}

label{
	margin:11px 20px 0 0;
	font-size: 16px;
	color:#b3aba1;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}
