<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Grafos y más" content="Trabajo realizado por alumnos de la universidad tecnologica
    metropolitana para el ramo de Grafos y Lenguajes Formales">
    <title>GRAFOS Y LENGUAJES Formales</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo right">Grafos</a>
                <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                <i class="material-icons">menu</i> </a>
                <ul class="left">
                    <li><a href="localhost:5000">Inicio</a></li>
                    <li><a href="#" class="dropdown-trigger right" data-target="id_drop">Teoria
                           <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li><a href="grafos">Crear un grafo</a></li>
                    <li><a href="formulario">Formulario axel</a></li>

                </ul>
             </div>
        </nav>
    </div>
    <ul id="id_drop" class="dropdown-content">
        <li><a href="#">Definicion</a></li>
        <li><a href="#">Tipos</a></li>
        <li><a href="#">Mas</a></li>
    </ul>
    <ul class="sidenav" id="menu-responsive">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    <br>
    <br>
    <!--<<div class="container">>-->
      <div class="row">
            <div class="col s2 white">
                
            </div>
            <div class="col s8 ">
                <div class="card  blue darken-4">
                    <div class="card-content white-text">
                        <span class="card-title">Proposito</span>
                        <hr>
                        <p>Somos un grupo de estudiantes de ingeniería civil en computacion mención informatica
                        de la Universidad Tecnologica Metropolitana, construimos una aplicacion web destinada 
                        a la aplicacion de Grafos. <br>
                        <li><a href="grafos">Crear un grafo</a></li> 
                        
                        <br> Encontraras teoria y resolucion a partir del ingreso de un 
                        Grafo, ofreciendo multiples opciones para que compruebes ejercicios o encuentres soluciones! 
                        </p>   
                    </div>
                </div>
                <br>
                <div class="col s8"></div>
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="creatividad.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">
                          <span class="black-text">
                            Ponemos cualquier relleno aca blablabla
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="creatividad.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">
                          <span class="black-text">
                            Ponemos cualquier relleno aca blablabla
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col s2 white">
              izquierda
            </div>
      </div>
    <!--</div>-->  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> document.addEventListener('DOMContentLoaded', function() { M.AutoInit(); }); </script>
</body>
</html>